<%- include("partials/header")%>
<div class="ui container main text">
	<div class="ui huge header ">
			Noter WebApp
	</div>	
			<div class="ui four column grid">
				<% notes.forEach(function(note){ %>
					<div class="column">
						<div class="ui fluid card">
							<div class="content">
								<a class="header" href="/note/<%= note._id %>"><%= note.title %></a>
								<span><%= note.date.toDateString()%></span>
								<div class="description">
								<p>
      									<%= note.body.substring(0,10) %>
									<br/>
									<a href="/note/<%= note._id %>">Read More ...</a>
								</p>
    							</div>
							</div>
						</div>
					</div>
					
				<% }) %>
			</div>
			
	
<%- include("partials/footer")%>
